<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      App de Inglês
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-card href="/basico">
  <img alt="Silhouette of mountains" src="https://i.pinimg.com/1200x/dc/c3/8c/dcc38ca7c071e59728904dcccbc7fa1c.jpg"/>
  <ion-card-header>
    <ion-card-title>Nível Básico</ion-card-title>
    <ion-card-subtitle>Exercícios Introdutórios</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Vamos nivelar seu conhecimento e descobrir se você domina o básico
  </ion-card-content>
</ion-card>

<ion-card href="interm">
  <img alt="Silhouette of mountains" src="https://i.pinimg.com/736x/c6/0e/ab/c60eab2cfc7d65f7309a2e8df7022371.jpg"/>
  <ion-card-header>
    <ion-card-title>Nível Intermediário</ion-card-title>
    <ion-card-subtitle>Exercícios de Rotina</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Aqui você exercíta sua mente para permanecer sempre no ritmo
  </ion-card-content>
</ion-card>

<ion-card href="avancado">
  <img alt="Silhouette of mountains" src="https://i.pinimg.com/736x/30/79/9b/30799be508faebea64e96164ba43c0cc.jpg"/>
  <ion-card-header>
    <ion-card-title>Nível Avançado</ion-card-title>
    <ion-card-subtitle>Exercícios de Provação</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Será que você consegue realizar os exercícios mais complexos?
  </ion-card-content>
</ion-card>
</ion-content>
