<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Quiz de Cinema & Cultura Pop
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-card href="/basico">
  <img alt="Cinema Popcorn e Claquete" src="https://images.unsplash.com/photo-1585647347384-2593bc35786b?w=800&auto=format&fit=crop&q=80"/>
  <ion-card-header>
    <ion-card-title>Nível Básico</ion-card-title>
    <ion-card-subtitle>Animações & Personagens Populares</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Descubra se você domina os clássicos, animações marcantes e os super-heróis mais conhecidos da cultura pop!
  </ion-card-content>
</ion-card>

<ion-card href="interm">
  <img alt="Sala de Cinema com Poltronas Vermelhas" src="https://images.unsplash.com/photo-1517604931442-7e0c8ed2963c?w=800&auto=format&fit=crop&q=80"/>
  <ion-card-header>
    <ion-card-title>Nível Intermediário</ion-card-title>
    <ion-card-subtitle>Franquias Marcantes & Séries Famosas</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Teste seus conhecimentos sobre universos cinematográficos, séries premiadas e trilogias lendárias!
  </ion-card-content>
</ion-card>

<ion-card href="avancado">
  <img alt="Teatro e Holofotes de Cinema" src="https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?w=800&auto=format&fit=crop&q=80"/>
  <ion-card-header>
    <ion-card-title>Nível Avançado</ion-card-title>
    <ion-card-subtitle>Cinéfilo Master & Bastidores do Cinema</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Será que você domina grandes diretores, clássicos da história do cinema, trilhas sonoras e prêmios Oscar?
  </ion-card-content>
</ion-card>
</ion-content>

